* {
    --darktheme--color1: rgb(0,0,0);
    --darktheme--color2: #52057b;
    --darktheme--color3: #892cdc;
    --darktheme--color4: #bc6ff1;
    
}

body{
    background-color: var(--darktheme--color1);
    color: var(--darktheme--color4);
}

a{
    color:var(--darktheme--color4);
}

#navbar>li:hover{
    
    background-color: var(--darktheme--color3);
    color: var(--darktheme--color1);
}




.centre{
    margin: 5vh;
    text-align: center;
    font-size: 3vh;
    font-family: fantasy;
    color:var(--darktheme--color3);
    text-shadow: whitesmoke 5px 5px 5px;
  
}

.centre>p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: whitesmoke -2px 2px 2px;
}

main{
    width:100vw;
    background-color:var(--darktheme--color1);
    color: var(--darktheme--color3);
}

#aside-link>li{
    margin-bottom: 2vh;
    box-shadow: var(--darktheme--color3) 5px 5px 100px;
    max-width: 150px;
}

#toggler{
    margin-bottom: 2vh;
    color: var(--darktheme--color1);
    background-color: var(--darktheme--color3);
    max-width: 150px;
}

article{
    text-align: justify;
    color: var(--darktheme--color3);
    margin:2%;
    padding: 10%;
    box-shadow: var(--darktheme--color2) 5px 5px 10px;
}

article>h1{
    color: var(--darktheme--color2);
    text-align: center;
    border-radius: 25px;

}

footer{
    color: var(--darktheme--color4);
}
  
  /* Modal Content/Box */
  .modal-content {
    border: 5px solid ;
    border-color: var(--darktheme--color4);
    background-color: var(--darktheme--color1);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn{
      margin: 25%;
      padding:2vh;
      color: var(--darktheme--color4);
      background-color: var(--darktheme--color2);
      border-radius: 5px;
      border-color: var(--darktheme--color3);
      box-shadow: var(--darktheme--color3) 5px 5px 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bolder;
  }